doctype html
html
	head
		meta(charset='UTF-8')
		title 注册
		meta(content='yes', name='apple-mobile-web-app-capable')
		meta(content='yes', name='apple-touch-fullscreen')
		meta(content='telephone=no,email=no', name='format-detection')
		meta(name='renderer', content='webkit')
		meta(name='x5-orientation', content='portrait')
		meta(name='x5-page-mode', content='app')
		meta(name='screen-orientation', content='portrait')
		meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
	body
		#app.main
