<div class="register" :class="{ hidden: regshow }">
	<div class="reg_content">
		<img :src="blogo" class="logo">
		<span class="moble_reg_lab">注册手机号</span>
		<input class="moble_reg_inp" type="text" v-model="mobleno">
		<span class="moble_reg_err" :class="{ hidden: isActiveMob }">{{mobtxt}}</span>
		<span class="moble_yzm_lab">手机验证码</span>
		<div class="moble_yzm">
			<input class="moble_yzm_inp" type="text"  v-model="yzm">
			<span class="moble_yzm_btn"  :style="{ color: activeColor}"  @click="getYzm">{{timetxt}}</span>
			<span class="moble_yzm_err" :class="{ hidden: isActiveYzm }">{{yzmtxt}}</span>
		</div>
		<span class="moble_pwd_lab">设置登录密码</span>
		<input class="moble_pwd_inp" type="password"  v-model="pwd" placeholder="请输入6－16位数字和字母组合">
		<span class="moble_pwd_err" :class="{ hidden: isActivePwd }">{{pwdtxt}}</span>
		<div class="kong">

		</div>
		<div class="next_btn" @click="gonext">
			{{nextgotxt}}
		</div>
	</div>
</div>
