.idcard {
  width: 100%;
  min-height: 100%;
  padding-bottom: 10px;
  background: #eee;
  .text-pannel {
    padding: 15px;
    background: #fff;
    .header {
      margin-bottom: 10px;
      h3 {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .color-gray {
      color: #666;
      font-size: 14px;
    }
    .font-red {
      color: #f14a51;
      font-size: 14px;
    }
  }
  .file-wrap {
    margin: 15px 15px 0;
    .item {
      margin: 0 auto 15px;
      border-radius: 3px;
      width: 300px;
      height: 160px;
      overflow: hidden;
      position: relative;
      background: #fff;
      .input-file {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 140px; 
        opacity: 0;
      }
      .img {
        line-height: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      .tip {
        text-align: center;
        .icons {
          display: block;
          width: 73px;
          height: 50px;
          margin: 50px auto 5px;
          &.icon-1 {
            background: url("../img/icon-1.png") no-repeat;
            background-size: 100% 100%;
          }
          &.icon-2 {
            background: url("../img/icon-2.png") no-repeat;
            background-size: 100% 100%;
          }
        }
        span {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
}

.dialog-demo {
  .weui_dialog {
    background-color: inherit;
  }
  .close-button {
    height: 50px;
    position: absolute;
    width: 50px;
    right: 0;
  }
}