<div class="signature">
  <div class="section">
    <h2 class="head">请确认已阅读并同意一下协议</h2>
    <div class="content">
      <a href="javascript: void(0)" @click="downloadAgreement">
        <mt-cell title="《用户协议》" is-link></mt-cell>
      </a>
      <a href="javascript: void(0)" @click="downloadW8BEN">
        <mt-cell title="《W8-BEN税务表格》" is-link></mt-cell>
      </a>
    </div>
  </div>
  <div class="section">
    <h2 class="head">请确认以下声明</h2>
    <div class="content">
      <mt-checklist v-model="statement" multi :options="statementList"></mt-checklist>
      <mt-field v-show="statement.indexOf(3) === -1" class="field" placeholder="请填写您或您亲属的姓名" v-model="employee"></mt-field>
    </div>
  </div>
  <div class="section">
    <h2 class="head">签名确认</h2>
    <p class="font-main font12">本人声明，本人提供的所有开户信息均真实准确并同意在内容有任何变化的情况下，以电话或邮件的形式通知寰盈证券，必要时，本人授权寰盈证券对资料的准确性进行确认。</p>
    <p class="color-gray font12">日期：{{new Date().getYear() + 1900}}-{{new Date().getMonth()+1}}-{{new Date().getDate()}}</p>
    <div class="signSection">
      <div class="signContainer" @click="showSign">
        <span v-show="signatureImg.length === 0" class="font-light">
        点击进行手写签名
      </span>
        <img v-show="signatureImg.length > 0" :src="signatureImg">
      </div>
    </div>
  </div>
  <div>
    <mt-button type="danger" :disabled="!isValidate || loading" @click="nextStep">
      <span>同意以上协议和声明并提交</span>
      <mt-spinner v-show="loading" slot="icon" type="snake"></mt-spinner>
    </mt-button>
  </div>
  <mt-popup v-model="popupVisible" position="right" modal="true">
    <div class="sign-modal">
      <div class="sign-header">
        <div @click="clearSign" class="btn">清空</div>
        <div class="tip">
          <h4>手写签名</h4>
          <span class="font-light">请在下方空白处签名</span>
        </div>
        <div @click="saveSign" class="btn btn-submit font-blue vux-center-v">提交</div>
      </div>
      <div id="signWrap" class="sign-wrap">
        <canvas style="touch-action:auto"></canvas>
      </div>
    </div>
  </mt-popup>
</div>