.signature {
  width: 100%;
  min-height: 100%;
  padding-bottom: 10px;
  background: #eee;
  overflow-y: auto;
  .section {
    margin-bottom: 20px;
    background: #fff;
    p {
      margin-left: 20px;
      font-size: 14px;
      color: #888;
    }
  }
  .mint-button{
    width: 18px;
  }
  .mint-cell {
    .mint-cell-wrapper {
      font-size: 14px;
    }
  }
  .head {
    color: black;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 20px;
  }
  .content {
    .mint-checklist-title {
      display: none;
    }
  }
  .field {
    .mint-cell-value {
      padding-left: 40px;
    }
  }
  .signSection {
    padding: 10px 15px;
    .signContainer {
      height: 140px;
      text-align: center;
      margin-top: 15px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      line-height: 140px;
      overflow: hidden;
      span {
        color: #999;
      }
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .mint-popup {
    width: 100%;
    height: 100%;
    .sign-modal {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      height: 100%;
      width: 100%;
      .sign-header {
        display: flex;
        padding: 10px 70px 0;
        .tip {
          text-align: center;
        }
      }
      .sign-wrap {
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 20px;
        right: 0;
        border: 1px dashed #999999;
        margin: 10px 15px;
        border-radius: 5px;
        canvas {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
        }
      }
    }
  }
}

@media all and (orientation: portrait) {
  .sign-modal {
    position: absolute !important;
    left: -30% !important;
    top: 25% !important;
    width: 160% !important;
    height: 50% !important;
    -webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
  }
}